<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0Gw62wfWNysd7Z83Lq1JSDCnwh3Ev8Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>774751960396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fracspace.tooka</string>
	<key>PROJECT_ID</key>
	<string>tooka-f6536</string>
	<key>STORAGE_BUCKET</key>
	<string>tooka-f6536.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774751960396:ios:bbe9a42dbd1949e5f3e3e9</string>
</dict>
</plist>